<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Schedule - Home</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <link href="./static/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="./static/css/index.css" rel="stylesheet">
    <link href="./static/css/round_icon.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Schedule</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">VIP</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit" name="signin">Sign In</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="register">Register</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#777" /></svg>
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>Custom schedule.</h1>
                            <p>Customize your time, from now! Please try our excellent time management tool!</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#777" /></svg>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Do you know how to use this tool.</h1>
                            <p>Here, with our document, it will be twice as effective to read the document and then use the tool!</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Documentation</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#777" /></svg>
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1>Please support our cause</h1>
                            <p>You can donate us to get a VIP account with very low cost and you will get more useful tools. Please support us!</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Donate</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <img class="round_icon" src="./static/pic/Luo.jpg" alt="luo's photo" width="50%" height="45%">
                    <h2>Luo Siwei</h2>
                    <p>An excellent java back-end engineer, responsible for the front-end development of the project. Very skilled in using bootstrap framework.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="round_icon" src="./static/pic/Li.jpg" alt="Li's photo" width="50%" height="45%">
                    <h2>Li Runfa</h2>
                    <p>ELTE outstanding graduate has strong interest in computer science. Previous experience in document writing and coding test.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="round_icon" src="./static/pic/Miao.png" alt="Miao's photo" width="50%" height="45%">
                    <h2>Miao Wenting</h2>
                    <p>the person in charge of the project. a Back-end intern from Huawei, responsible for Django back-end development in this project.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Ridiculously fast </h2>
                    <p class="lead">Schedule was designed to help people take plan from concept to completion as quickly as possible.</p>
                </div>
                <div class="col-md-5">
                    <img src="./static/pic/Schedulet2.jpg" alt= "S2 photo" width="100%" height="100%">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Reassuringly secure.</h2>
                    <p class="lead">Schedule takes security seriously and helps people avoid many common security mistakes.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="./static/pic/Schedulet1.jpg" alt= "S1 photo" width="100%" height="100%">
                </div>
            </div>

            <hr class="featurette-divider">

        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2020 ELTE😀</p>
        </footer>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="./static/assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>