{% extends "base/index.html" %}

  {% block cssfile %}
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/static/schedule-template-master/assets/css/style.css">
  {% endblock cssfile %}

{% block main %}
  <section class="content">
    <div class="box-header test-right margin-top-lg margin-bottom-lg cd-schedule--loading cd-schedule">
      <div class="row">
      <div class="col-xs-4">
      <button class="btn-info btn-sm" style="margin-right:20px;width:100px;height:40px;font-size:19px;font-family: Monaco;"  data-toggle="modal" data-target="#createModal">Create</button>
      </div>
        <div class="col-xs-4">
      <button class=" btn-warning btn-sm" style="margin-right:20px;width:100px;height:40px;font-size:19px;font-family: Monaco;">Edit</button>
      </div>
        <div class="col-xs-4">
         <button class="btn-danger btn-warning btn-sm" style="margin-right:20px;width:100px;height:40px;font-size:19px;font-family: Monaco;">Delete</button>
      </div>
      </div>
    </div>
  </section>


  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
      <ul>
        <li><span>09:00</span></li>
        <li><span>09:30</span></li>
        <li><span>10:00</span></li>
        <li><span>10:30</span></li>
        <li><span>11:00</span></li>
        <li><span>11:30</span></li>
        <li><span>12:00</span></li>
        <li><span>12:30</span></li>
        <li><span>13:00</span></li>
        <li><span>13:30</span></li>
        <li><span>14:00</span></li>
        <li><span>14:30</span></li>
        <li><span>15:00</span></li>
        <li><span>15:30</span></li>
        <li><span>16:00</span></li>
        <li><span>16:30</span></li>
        <li><span>17:00</span></li>
        <li><span>17:30</span></li>
        <li><span>18:00</span></li>
      </ul>
    </div> <!-- .cd-schedule__timeline -->

    <div class="cd-schedule__events">
      <ul>
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Monday</span></div>

          <ul>
<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">-->
<!--                <em class="cd-schedule__name">Abs Circuit</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">-->
<!--                <em class="cd-schedule__name">Rowing Workout</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="14:00" data-end="15:15"  data-content="event-yoga-1" data-event="event-3" href="#0">-->
<!--                <em class="cd-schedule__name">Yoga Level 1</em>-->
<!--              </a>-->
<!--            </li>-->
          </ul>
        </li>

        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Tuesday</span></div>

          <ul>
<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2" href="#0">-->
<!--                <em class="cd-schedule__name">Rowing Workout</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="11:30" data-end="13:00"  data-content="event-restorative-yoga" data-event="event-4" href="#0">-->
<!--                <em class="cd-schedule__name">Restorative Yoga</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1" href="#0">-->
<!--                <em class="cd-schedule__name">Abs Circuit</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3" href="#0">-->
<!--                <em class="cd-schedule__name">Yoga Level 1</em>-->
<!--              </a>-->
<!--            </li>-->
          </ul>
        </li>

        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Wednesday</span></div>

          <ul>
<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4" href="#0">-->
<!--                <em class="cd-schedule__name">Restorative Yoga</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3" href="#0">-->
<!--                <em class="cd-schedule__name">Yoga Level 1</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="12:00" data-end="13:45"  data-content="event-rowing-workout" data-event="event-2" href="#0">-->
<!--                <em class="cd-schedule__name">Rowing Workout</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3" href="#0">-->
<!--                <em class="cd-schedule__name">Yoga Level 1</em>-->
<!--              </a>-->
<!--            </li>-->
          </ul>
        </li>

        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Thursday</span></div>

          <ul>
<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">-->
<!--                <em class="cd-schedule__name">Abs Circuit</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4" href="#0">-->
<!--                <em class="cd-schedule__name">Restorative Yoga</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1" href="#0">-->
<!--                <em class="cd-schedule__name">Abs Circuit</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="17:00" data-end="18:30"  data-content="event-rowing-workout" data-event="event-2" href="#0">-->
<!--                <em class="cd-schedule__name">Rowing Workout</em>-->
<!--              </a>-->
<!--            </li>-->
          </ul>
        </li>

        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Friday</span></div>

          <ul>
<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2" href="#0">-->
<!--                <em class="cd-schedule__name">Rowing Workout</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1" href="#0">-->
<!--                <em class="cd-schedule__name">Abs Circuit</em>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="cd-schedule__event">-->
<!--              <a data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3" href="#0">-->
<!--                <em class="cd-schedule__name">Yoga Level 1</em>-->
<!--              </a>-->
<!--            </li>-->
          </ul>
        </li>
      </ul>
    </div>

    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>

        <div class="cd-schedule-modal__header-bg"></div>
      </header>

      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>

      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>

    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->

<div id="createModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form action="/design/event/create/" mothod="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:left">Create</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="row">
                        <lable class="col-sm-3 control-label no-padding-right">Name:</lable>
                    <div class="col-sm-8">
                        <input type="text" id="name" placeholder="Enter class name" ></input>
                        <span class="help-block hidden"></span>
                    </div>
                </div>

                 <div class="row">
                        <lable class="col-sm-3 control-label no-padding-right">Day:</lable>
                    <div class="col-sm-8">
                        <select id="day" >
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                        </select>
                        <span class="help-block hidden"></span>
                    </div>
                </div>

                <div class="row">
                        <lable class="col-sm-3 control-label no-padding-right">Start time:</lable>
                    <div class="col-sm-8">
                        <select id="startTime" >
                            <option value="9:00">9:00</option>
                            <option value="9:30">9:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                        </select>
                        <span class="help-block hidden"></span>
                    </div>
                </div>

                <div class="row">
                        <lable class="col-sm-3 control-label no-padding-right">End time:</lable>
                    <div class="col-sm-8">
                        <select id="endTime" >
                            <option value="9:00">9:00</option>
                            <option value="9:30">9:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                        </select>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                 <div class="row">
                        <lable class="col-sm-3 control-label no-padding-right">Details:</lable>
                    <div class="col-sm-8">
                        <textarea id="details"  placeholder="" ></textarea>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
    <!-- Modal content-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--        <h4 class="modal-title">Modal Header</h4>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>Some text in the modal.</p>-->
<!--      </div>-->

<!--    </div>-->

  </div>
</div>
{% endblock main %}
{% block script %}
   <script src="/static/schedule-template-master/assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="/static/schedule-template-master/assets/js/main.js"></script>
{% endblock script %}
</html>